@import "Ginkgo";

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1);
    background-color: rgba(245, 245, 245, 1);
    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;

    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1), rgba(255, 255, 255, 1));

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

h4 {
    margin-bottom: 0 !important;
}



.mdi{
    &.accUse {
        &:before {
            line-height: normal;
        }
    }
}

.dataTables_paginate {
    padding-top: 20px;
}



#page-topbar {
    z-index: 1052;
    .navbar-header {
        @include range-width(0, 450px) {
            padding: 0 12px;
        }
    }
}


.main-content {
    margin: 0 auto;

    .page-content {
        padding: 70px 0 60px 0;

        .container-fluid {
            padding: 0;

            .row {
                > .title-style {
                    padding: calc((80px - 45px) / 2) 12px;
                    height: 80px;
                    border-radius: 3px;
                    background-color: rgba(42, 58, 75, .75);

                    @include range-width(0, 450px) {
                        padding: calc((50px - 45px) / 2) 12px;
                        height: 50px; 
                    }
    
                    &.active {
                        background-color: rgba(0, 122, 255, 0.75);
                    }
    
                    .page-title-box {
                        margin: 0 30px;
                        padding: 0;
    
                        > h4 {
                            font-size: 20px;
                            font-weight: 600;

                            @include range-width(0, 450px) {
                                margin: 0;
                            } 
                        }
    
                        > i {
                            font-size: 30px;
                            transition: all 0.5s;
                            &.down {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
    
                > .content-style {
    
                    .card {
                        width: 100%;
                        
                        .card-body {
                            padding: 12px;
                            margin: 0 30px;

                            @include range-width(0, 450px) {
                                margin: 0;
                                padding: 0 12px;
                            }
    
                            .row {
                                position: relative;
                                padding: 30px 0;

                                @include range-width(0, 450px) {
                                    padding: 20px 0;
                                }
    
                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 10px;
                                    bottom: 0;
                                    width: calc(100% - 20px);
                                    max-width: 1140px;
                                    border-bottom: 2px dashed rgb(181, 187, 193);
                                }
    
                                // &:nth-last-child(2) {
                                //     &:after {
                                //         border-bottom: 2px solid
                                //             rgb(181, 187, 193);
                                //     }
                                // }
    
                                &:last-child {
                                    &:after {
                                        content: "";
                                        border-bottom: 2px solid transparent;
                                    }
                                }
    
                                input {
                                    font-size: 14px;
                                    color: rgba(71, 80, 90, .5);
                                    
                                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                        color: rgba(71, 80, 90, .5);
                                        // opacity: 1; /* Firefox */
                                      }
                                }
    
                                .form-label {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: rgba(71, 80, 90, 1);
    
                                    &.purple {
                                        color: #7a6fbe;
                                    }
    
                                    > span {
                                        font-size: 14px;
                                        font-weight: normal;
                                        color: rgba(71, 80, 90, .5);
                                        vertical-align: bottom;
    
                                        &.red {
                                            font-size: 13px;
                                            color: rgb(241, 72, 49);
                                            
                                        }
                                    }
                                }
    
                                .form-check {
                                    input[type="radio"] {
                                        box-sizing: border-box;
                                        appearance: none;
                                        background: white;
                                        border: 1px solid rgb(206, 212, 217);
                                        width: 16px;
                                        height: 16px;
                                        border-radius: 3px;
                                    }
    
                                    input[type="radio"]:checked {
                                        background-color: rgb(0, 122, 255);
                                        outline-color: transparent;
                                    }
    
                                    input[type="radio"]:focus {
                                        outline-color: transparent;
                                    }
                                }
    
                                .space {
                                    margin: 15px 0;
                                }
    
                                .btn-search {
                                    // padding: 10px 20px;
                                    padding-left: 0;
                                    padding-right: 0;
                                    width: 100px;
                                    height: 40px;
                                    font-size: 16px;
                                    background-color: rgb(0, 122, 255);
    
                                    &:before {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            

            #page-breadcrumb {
                // margin: 0 calc(120px - 24px);
                padding: 24px 0;
                background-color: rgb(42, 58, 75);

                @include range-width(0, 450px) {
                    padding: 0 24px;

                    .container {
                        justify-content: space-between;
                    }
                }

                .page-title-box {
                    padding: 14px 0 29px 0;

                    @include range-width(0, 450px) {
                        padding: 14px ;
                    }

                    > h4 {
                        margin: 0;
                        line-height: 2;
                    }

                    .breadcrumb {

                        @include range-width(0, 450px) {
                            display: none;
                        }

                        .breadcrumb-item {
                            &:before {
                                color: rgba(255, 255, 255, 0.5);
                            }
                        }
                    }
                }

                .page-action-box {
                    .action-btn {
                        &:nth-child(2) {
                            margin: 0 20px;
                        }
                        > a {
                            // display: inline-block;
                            padding: 5px 10px 7px 10px;
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            border-radius: 40px;

                            > i {
                                position: relative;
                                display: inline-block;
                                margin-right: 5px;
                                width: 20px;
                                height: 20px;
                                background-color: rgba(255, 255, 255, 1);
                                border-radius: 50%;
                                vertical-align: middle;

                                &:before {
                                    position: absolute;
                                    top: -2px;
                                    left: 2px;
                                    color: rgb(0, 122, 255);
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }

            #page-navbar {
                // background-color: rgba(255, 255, 255, 1);

                @include range-width(0 ,450px) {
                    // display: none;
                }

                #navbar-content {
                    position: relative;
                    bottom: 40px;
                    border-radius: 3px;

                    .topnav {
                        @include range-width(0, 450px) {
                            // background-color: rgba(111, 111, 111, .8);
                            // max-height: unset;
                            box-shadow: 5px 2px 5px black;
                            border-radius: 0 0 3px 3px;
                        }
                        .navbar {
                            .navbar-collapse {

                                @include range-width(0, 450px) {
                                    &.show {
                                    }
                                }

                                .navbar-nav {

                                    @include range-width(0, 450px) {
                                    }

                                    .nav-item {
                                        position: relative;
                                        padding: 12px 12px 9px 12px;
                                        border-bottom: 2px solid transparent;
                                        cursor: pointer;
                
                                        &:hover,
                                        &.active {
                                            border-bottom-color: rgb(122, 111, 190);
                                            
                                            @include range-width(0, 450px) {
                                                border-bottom-color: transparent;
                                            }

                                            a.nav-link {
                                                color: rgb(122, 111, 190);
            
                                                i {
                                                    color: rgb(122, 111, 190);
                                                }
                                            }
                                        }

                                        &.readonly {
                                            &:hover,
                                            &.active {

                                                a.nav-link {
                                                    color: rgba(193, 197, 201, 1.00);

                                                    i {
                                                        color: rgba(193, 197, 201, 1.00);
                                                    }
                                                }
                                                
                                            }
                                        }
            
                                        &:nth-child(3):hover {
                                            border-bottom-color: transparent;
                                        }
            
                                        a.nav-link {
                                            padding: 0;
                                            font-size: 16px;
                                            font-weight: 500;
                                            color: rgb(42, 58, 75);

                                            @include range-width(0, 450px) {
                                                display: flex;
                                                align-items: center;
                                                color: rgba(193, 197, 201, 1.00);

                                            }
            
                                            > i {
                                                margin-bottom: 0;
                                                font-size: 20px;
                                                color: rgb(42, 58, 75);

                                                @include range-width(0, 450px) {
                                                    color: rgba(193, 197, 201, 1.00);
                                                }
                                            }
                                        }      
                                        
                                        .dropdown-menu {                                
                                            left: -9px;
                                            border-top: 2px solid rgb(122, 111, 190);
                                            @include range-width(0, 450px) {
                                                border-top-color: transparent;
                                            }
                                            .dropdown-item {
                                                font-size: 16px;
                                                font-weight: 500;
                                                @include range-width(0, 450px) {
                                                    padding-left: 15px;
                                                }

                                                &:hover {
                                                    color: #2c3034;
                                                    background-color: #f8f9fa;

                                                    @include range-width(0, 450px) {
                                                        background-color: transparent;
                                                    } 
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            #page-search {
                #search-title {
                    padding: calc((80px - 45px) / 2) 12px;
                    // height: 80px;
                    border-radius: 3px;
                    background-color: rgba(42, 58, 75, .75);

                    @include range-width(0, 450px) {
                        padding: 0;
                    }

                    &.active {
                        background-color: rgba(0, 122, 255, 0.75);
                    }

                    .page-title-box {
                        margin: 0 30px;
                        padding: 0;

                        @include range-width(0, 450px) {
                            padding: 2.5px 0;
                        }

                        > h4 {
                            font-size: 20px;
                            font-weight: 600;
                        }

                        > i {
                            font-size: 30px;
                            transition: all 0.5s;
                            &.down {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }

                #search-content {
                    .card {
                        .card-body {
                            padding: 12px;
                            margin: 0 30px;

                            form {
                                @include range-width(0, 450px) {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }

                            .row {
                                position: relative;
                                padding: 30px 0;

                                @include range-width(0, 450px) {
                                    padding: 0;

                                    &:nth-of-type(1) {
                                        order: 3;
                                    }

                                    &:nth-of-type(2) {
                                        order: 1;
                                    }

                                    &:nth-of-type(3) {
                                        order: 2;
                                    }
                                    
                                    &:nth-of-type(4) {
                                        order: 4;
                                    }

                                    &:nth-of-type(6) {
                                        order: 5;
                                    }
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 10px;
                                    bottom: 0;
                                    width: calc(100% - 20px);
                                    max-width: 1140px;
                                    border-bottom: 2px dashed rgb(181, 187, 193);

                                    @include range-width(0, 450px) {
                                        content: unset;
                                    }
                                }

                                &:nth-last-child(2) {
                                    &:after {
                                        border-bottom: 2px solid
                                            rgb(181, 187, 193);
                                    }
                                }

                                &:last-child {
                                    &:after {
                                        content: "";
                                        border-bottom: 2px solid transparent;
                                    }
                                }

                                input {
                                    font-size: 14px;
									color: rgba(71, 80, 90, .5);
                                    
									&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
										color: rgba(71, 80, 90, .5);
										// opacity: 1; /* Firefox */
									  }
                                }

								.form-label {
									color: rgba(71, 80, 90, 1);

									> span {
										color: rgba(71, 80, 90, .5);
									}
								}

                                .space {
                                    margin: 15px 0;
                                    @include range-width(0, 450px) {
                                        margin: 0;
                                    }
                                }

                                .btn-search {
                                    // padding: 10px 20px;
                                    padding-left: 0;
                                    padding-right: 0;
                                    width: 100px;
                                    height: 40px;
                                    font-size: 16px;
                                    background-color: rgb(0, 122, 255);

                                    &:before {
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #page-results {

                #results-content {
                    &.container {
                        @include range-width(1200px, 0) {
                            max-width: calc(100% - 100px);
                        }
                    }
                    .card-body {
                        padding: 25px 40px;


                        .card-box {
                            .card-title {
                                margin-bottom: 15px;
                                font-size: 20px;
                                font-weight: 600;
                                color: rgb(42, 58, 75);
                            }

                            .buttons-table {
                                user-select: none;
                                outline: 0 !important;
                            }
                            .buttons-table-menu {
                                position: absolute;
                                top: 105% !important;
                                right: calc( 50% - 180px) !important;
                                left: unset !important;
                                padding: 15px;
                                width: 360px;
                                height: 380px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                                // box-shadow: 0 2px 30px rgb(0 0 0 / 8%);

                                > .dropdown-item-group {

                                    .form-check {
                                        width: 50%;

                                        > .form-check-label {
                                            display: inline-block;
                                            position: relative;
                                            padding-left: 35px;
                                            margin-bottom: 12px;
                                            cursor: pointer;
                                            font-size: 14px;
                                            font-weight: normal;
                                            color: rgb(71, 80, 90);
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -ms-user-select: none;
                                            user-select: none;

                                            // &:hover {
                                            //     input ~ .checkmark {
                                            //         background-color: rgb(0, 122, 255);
                                            //     }
                                            // }

                                            > input {
                                                position: absolute;
                                                opacity: 0;
                                                cursor: pointer;
                                                height: 0;
                                                width: 0;

                                                &:checked {
                                                    ~ .checkmark {
                                                        &:after {
                                                            background-color: rgba(0, 122, 255, 1);
                                                        }
                                                        
                                                    }
                                                }
                                            }

                                            > .checkmark {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                height: 20px;
                                                width: 20px;
                                                // background-color: #eee;
                                                border-radius: 3px;
                                                border: solid 1px rgb(206, 212, 217);

                                                &:after {
                                                    content: "";
                                                    position: absolute;
                                                    // display: none;
                                                    left: 1px;
                                                    top: 1px;
                                                    width: 16px;
                                                    height: 16px;
                                                    border: 1px solid transparent;
                                                    border-radius: 3px;
                                                }
                                              }
                                        }
                                    }

                                    > .dropdown-items {
                                        display: flex;
                                        flex-wrap: wrap;

                                        
                                    }
                                    
                                }
                            }

                            .card-button {

                                &.display-select {
                                    position: relative;
                                    
                                    .buttons-table {
                                        margin-left: 5px;
                                    }

                                    .btn-group {
                                        position: unset;

                                        .dt-button-collection {
                                            // left: 10px !important;
                                            width: 100%;
                                            max-width: 161px;
                                        }

                                        .buttons-colvis, .buttons-colvisRestore {
                                            display: none;

                                            &.show {
                                                display: inline-block;
                                            }

                                            &.buttons-colvisRestore {
                                                @include range-width(0, 450px) {
                                                    display: none;
                                                }
                                            }
                                        }


                                        .dt-button-collection {
                                            .dropdown-menu {
                                                max-height: 200px;
                                                overflow-y: scroll;

                                                .dropdown-item {
                                                    font-size: 13px;

                                                    &:first-child {
                                                        // display: none;
                                                    }

                                                    &.active {
                                                        > span {
                                                            &:after {
                                                                content: '';
                                                                position: absolute;
                                                                top: 2px;
                                                                left: 4px;
                                                                width: 12px;
                                                                height: 12px;
                                                                background-color: #007aff;
                                                                border-radius: 3px;
                                                            }
                                                        }
                                                    }
                                                    > span {
                                                        position: relative;

                                                        &:before {
                                                            content: '';
                                                            display: inline-block;
                                                            margin-right: 10px;
                                                            width: 20px;
                                                            height: 20px;
                                                            border: 1px solid rgb(206, 212, 217);
                                                            border-radius: 3px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    
                                }

                                .buttons-table {
                                    height: 30px;
                                    font-size: 13px;
                                    font-weight: 500;
                                    border-radius: 3px;
                                    background-color: rgb(91, 99, 106);

                                    &:hover, &.active {
                                        background-color: rgb(122, 111, 190);
                                    }
                                    
                                    
                                }
                            }
                            
                        }

                        .card-nav {
                            border-bottom: 1px solid rgb(64, 156, 255);

                            .nav-pills {
                                .nav-item {
                                    .nav-link {
                                        padding: .5rem 2rem;
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-align: center;
                                        color: rgb(42, 58, 75);
                                        border-radius: 3px 3px 0 0;
    
                                        &.active {
                                            background-color: rgb(64, 156, 255);
                                            border-radius: 3px 3px 0 0;
                                            color: rgba(255, 255, 255, 1);
                                        }
                                        
                                    }
                                }
                            }

                            .nav-notice {
                                > span {
                                    position: relative;
                                    font-size: 13px;
                                    color: rgb(42, 58, 75);

                                    &.yellow {
                                        margin-right: 32px;

                                        &:before {
                                            background-color: rgb(255, 191, 60);
                                        }
                                    }

                                    &.orange {
                                        &:before {
                                            background-color: rgb(255, 134, 60);
                                        }
                                    }

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 4px;
                                        left: -16px;
                                        display: inline-block;
                                        width: 8px;
                                        height: 8px;
                                        border-radius: 50%;

                                    }
                                }
                            }
                        }
                        

                        .tab-content {

                            .tab-pane {
                                .dataTables_wrapper {

                                    .dataTables_scroll {
                                        .dataTables_scrollHead {
                                            .dataTables_scrollHeadInner {
                                                > .dataTable {
                                                    margin-top: 0 !important;
                                                    border: transparent;

                                                    thead {
                                                        tr {
                                                            > th {
                                                                font-size: 14px;
                                                                font-weight: 600;
                                                                color: rgb(42, 58, 75);
                                                                text-align: left;

                                                                &.select-all {
                                                                    cursor: pointer;
                                                                    position: relative;
                                                                    padding-left: 10px;

                                                                    
                                                                    > span {
                                                                        display: inline-block;
                                                                        width: 15px;
                                                                        height: 15px;
                                                                        vertical-align: middle;
                                                                        border: solid 1px rgb(206, 212, 217);
                                                                        border-radius: 3px;

                                                                        &.active {
                                                                            position: relative;

                                                                            &:after {
                                                                                content: '';
                                                                                position: absolute;
                                                                                top: 1.5px;
                                                                                left: 1.5px;
                                                                                padding: 2.5px;
                                                                                width: 10px;
                                                                                height: 10px;
                                                                                border-radius: 3px;
                                                                                background-color: #007aff;
                                                                            }
                                                                        }
                                                                    }
                                                                    
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .dataTables_scrollBody {
                                            .datatable-buttons {
                                                border-collapse: collapse !important;

                                                tbody {
                                                    border-top: 1px solid rgb(233, 236, 239);
                                                    border-bottom: 1px solid rgb(233, 236, 239);

                                                    tr {
                                                        border-top: 1px solid rgb(233, 236, 239);
                                                        border-bottom: 1px solid rgb(233, 236, 239);
    
                                                        &.odd {
                                                            background-color: rgb(248, 249, 250);
                                                        }

                                                        &.yellow {
                                                            background-color: rgba(255, 191, 60, .3);
                                                        }
                    
                                                        &.orange {
                                                            background-color: rgba(255, 134, 60, .3);
                                                        }

                                                        &.selected {
                                                            color: rgb(42, 58, 75);

                                                            &.odd {
                                                                background-color: rgb(248, 249, 250);
                                                            }

                                                            &.even {
                                                                background-color: transparent;
                                                            }

                                                            &.yellow {
                                                                background-color: rgba(255, 191, 60, .3);
                                                            }

                                                            &.orange {
                                                                background-color: rgba(255, 134, 60, .3);
                                                            }

                                                            a {
                                                                color: rgba(71, 80, 90, 1);
                                                            }

                                                            
                                                            
                                                            .select-checkbox {
                                                                position: relative;
    
                                                                &:after {
                                                                    content: '';
                                                                    position: absolute;
                                                                    top: 2em;
                                                                    left: 26%;
                                                                    width: 12px;
                                                                    height: 12px;
                                                                    background-color: #007aff;
                                                                    border-radius: 3px;
                                                                }
                                                            }
                                                        }
    
                                                        td {
                                                            font-size: 13px;
                                                            color: rgb(42, 58, 75);
                                                            text-align: left;

                                                            > p {
                                                                display: -webkit-box;
                                                                -webkit-line-clamp: 2;
                                                                -webkit-box-orient: vertical;  
                                                                overflow: hidden;
                                                                white-space: normal;
                                                                margin: 0;
                                                            }
                                                            
                                                            &.ellipse{
                                                                display: block;
                                                                max-width:200px !important;
                                                            }

                                                            &.dataTables_empty {
                                                                // text-align: center;
                                                            }
    
                                                            &.select-checkbox {
                                                                position: relative;
                                                                cursor: pointer;
    
                                                                &:before {
                                                                    width: 20px;
                                                                    height: 20px;
                                                                    top: 1.3em;
                                                                    left: 23%;
                                                                    border: solid 1px rgb(206, 212, 217);
                                                                    border-radius: 3px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #page-check {
                #check-content {
                    table {

                        thead {
                            th {
                                font-size: 14px;
                            }
                        }
    
                        tbody {
                            tr {

                                &:nth-child(odd) {
                                    background-color: rgb(248, 249, 250);
                                }
                                td {
                                    font-size: 13px;
                                }
                            }
                            
                        }
                        
                    }

                    .accordion {
                        .accordion-item {
                            .accordion-header {
                                .accordion-button {
                                    margin-bottom: 30px;
                                    border: 0;
                                    border-radius: 3px;
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: rgb(255, 255, 255);
                                    background-color: rgb(122, 111, 190);

                                    &:after {
                                        content: "\F0140";
                                        font-family: 'Material Design Icons';
                                        color: rgba(255, 255, 255, 1);
                                        background-image: none;
                                    }
                                }
                            }

                            .accordion-collapse {
                                margin-top: -30px;
                                margin-bottom: 30px;

                                border: 0;
                                background-color: rgb(245, 245, 245);

                                .accordion-body {
                                    padding: 15px;
                                }
                            }
                        }
                    }
                }
            }

            #page-mission {
                #mission-content {
                    table {

                        thead {
                            th {
                                font-size: 14px;
                            }
                        }
    
                        tbody {
                            tr {

                                &:nth-child(odd) {
                                    background-color: rgb(248, 249, 250);
                                }
                                td {
                                    font-size: 13px;
                                }
                            }
                            
                        }
                        
                    }

                    .file-box {
                        --bs-gutter-x: 24px;
                        --bs-gutter-y: 0;
                    }

                    .file-input {
                        padding: 15px;
                        // height: 64px;
                        border-radius: 3px;
                        border: dashed 1px rgba(77, 161, 255, 0.3);

                        input[type='file'] {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            max-height: 67px;
                            opacity: 0;
                            z-index: 10;
                            cursor: pointer;
                        }

                        > .icon {
                            position: relative;
                            width: 35px;
                            height: 35px;
                            border-radius: 2px;
                            background-color: rgba(77, 161, 255, 0.1);

                            &:before {
                                position: absolute;
                                top: calc(50% - 8px);
                                left: calc(50% - 6px);
                                color: rgb(77, 161, 255);
                            }
                        }

                        .label {
                            font-size: 12px;
                            font-weight: 600;
                            color: rgb(50, 60, 71);
                        }
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    padding: 20px 0;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid rgb(42, 58, 75);
    }

    > p {
        margin: 0;
    }
}

.select2-container {
    .select2-selection--multiple {
        position: relative;
		// padding: .375rem .75rem;
		padding: 2px 0;
		min-height: 35px;
        
        // &:after {
        //     content: "";
        //     border-color: #888 transparent transparent transparent;
        //     border-style: solid;
        //     border-width: 5px 4px 0 4px;
        //     height: 0;

        //     margin-left: -4px;
        //     margin-top: -2px;
        //     position: absolute;
        //     top: 50%;
        //     left: calc(100% - 12px);
        //     width: 0;
        // }

        .select2-selection__choice {
            font-size: 14px;
            // margin-top: 2px;
        }
    }

    .select2-results {
        .select2-results__options {

			.select2-results__option {
				// margin: 0 10px;
				font-size: 14px;
				font-weight: 500;
				color: rgba(71, 80, 90, 1);
				text-align: left;

                &:hover {
                    background-color: rgba(239, 239, 239, 0.5);
                }
	
			} 

			&[aria-multiselectable="true"] {
				display: flex;
	            flex-wrap: wrap;
	            text-align: left;

				.select2-results__option {
					margin-left: 0;
					width: 50%;
					font-size: 14px;
					font-weight: 500;
					color: rgb(71, 80, 90);
			
					@include range-width(0, 450px) {
						width: 100%;
					}
			
					&:before {
						content: "";
						display: inline-block;
						margin-right: 10px;
						width: 20px;
						height: 20px;
						border: solid 1px rgb(206, 212, 217);
                        border-radius: 3px;
					}
				}
			}
        }
    }

    .select2-selection--single {
		padding: 2px 0;
		height: 35px;
		border: 1px solid #ced4da;

		.select2-selection__rendered {
			font-size: 14px;
			font-weight: 500;
			color: rgba(71, 80, 90, .5);
		}

		.select2-selection__arrow {
			height: 35px;
		}
	}	
}

.select2-container--default {
    .select2-results__option[aria-selected="true"] {
        background-color: transparent;
        &:before {
            background-color: #007aff;
        }
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: rgba(239, 239, 239, 0.5);
    }
    
}

.q-tip {
    display: none;
    position: absolute;
    top: 0;
    left: 150px;
    width: 354px;
    // height: 296px;
    padding: 15px 16px 17px 14px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(239, 239, 239, 0.5);
    border: solid 1px rgba(206, 212, 217, 0.5);
    background-color: rgb(255, 255, 255);
    z-index: 1;

    @include range-width(0, 450px) {
        top: 30px;
        left: 0;

    }
}

.color-purple {
    outline: none;
    background-color: rgb(122, 111, 190);
    border-color: rgb(122, 111, 190);
}
.color-245 {
    background-color: rgb(245, 245, 245);
}

.color-blue {
    background-color: rgb(64, 156, 255);
    border-color: rgb(64, 156, 255);
}

.color-gunmetal {
    color: rgba(71, 80, 90, .5);
}

.color-gunmetal2 {
    background-color: rgb(81, 87, 96);
    border-color: rgb(81, 87, 96);
}

.color-pale-grey {
    background-color: rgb(247, 248, 249);
    border-color: rgb(247, 248, 249); 
}

.text-blue {
   color: rgb(64, 156, 255); 
}

.text-blue2 {
    color: rgb(0, 122, 255);
}

.text-gunmetal {
    color: rgba(71, 80, 90, 1);
}

.text-red {
    color: rgb(236, 83, 108) !important;
}

.text-red {
    color: rgb(236, 83, 108);
}


.form-check {
    // float: none;

    .form-check-input {
        float: none;

        &:checked {
            background-color: rgb(0, 122, 255);
            border-color: rgb(0, 122, 255);
        }
    }

     input[type="radio"] {
        box-sizing: border-box;
        appearance: none;
        background: white;
        border: 1px solid rgb(206, 212, 217);
        width: 16px;
        height: 16px;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type="radio"]:checked {
        background-image: unset;
        background-color: rgb(0, 122, 255);
        outline-color: transparent;
    }

    input[type="radio"]:focus {
        outline-color: transparent;
    }
}

.suffix-box {
    position: relative;

    &:after {
        position: absolute;
        right: 5px;
        content: attr(data-suffix);
        font-size: 14px;
        color: rgba(71, 80, 90, .5);
    }
}

#dispatch-box {
    display: none;
}

.accordion {
    .accordion-item {
        .accordion-header {
            .accordion-button {
                margin-bottom: 20px;
                border: 0;
                border-radius: 3px;
                font-size: 16px;
                font-weight: 500;
                color: rgb(255, 255, 255);
                background-color: rgb(122, 111, 190);

                &:after {
                    
                    content: "\F0140";
                    font-family: 'Material Design Icons';
                    color: rgba(255, 255, 255, 1);
                    background-image: none;
                    
                }

                &.mobile-style {
                    outline: none;
                    background-color: rgb(64, 156, 255);
                    border-color: rgb(64, 156, 255);
                }

                &.mobile-style-reported {
                    outline: none;
                    background-color: rgb(71, 80, 90);
                    border-color: rgb(71, 80, 90);
                }
            }
        }

        .accordion-collapse {
            margin-top: -30px;
            margin-bottom: 30px;

            border: 0;
            background-color: rgb(245, 245, 245);

            &.mobile-style {
                background-color: rgba(255, 255, 255, 1);
            }
            .accordion-body {
                padding: 15px;

                .accordion-box {
                    hr {
                        height: 0;
                        margin: 1rem 0;
                        border: none;
                        border-bottom: solid 1px #000000;
                    }

                    .dashed {
                        border-bottom: dashed 1px #000000;
                    }

                    .ps-85 {
                        padding-left: 85px;
                    }
                }                
            }
        }
    }
}

.btn-action {
    @include range-width(0, 450px) {
        .row {
            padding: 0 12px;
        }
    }
}


